*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background:  #E5E5E5;
  max-width: 100vw;
  margin: 0 auto;
}
h1,h3,#button{
  font-family: 'Archivo', sans-serif;
}

header{
  background: #121214;

  max-width: 1440px;
  height: 368px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;

  width: 319px;
  margin: 80px 0 24px;
}
h2{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #42D3FF;

  width: 319px;
}

main,footer{
  width: 736px;
  height: 1566px;
  
  margin: 0 auto;
}

main{
  border: 1px solid #D6D6D6;

  background: #FAFAFC;

  border-radius: 8px 8px 0px 0px;

}

footer{
  border: 1px solid #D6D6D6;
  background: #F0F0F4;
  
  margin-bottom: 91px;
  
  height: 136px;
  
  border-radius: 0px 0px 8px 8px;
  
  display: flex;
  align-items: center;
}
#button{
  margin: 40px auto;
  padding: 15px 40px;

  width: 608px;
  height: 56px;

  background: #04D361;
}